<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet", href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express & Johnny-Five</title>
</head>
<body>
    <h1><strong>Express & Johnny-Five</strong></h1>
    <div>
        <button id="btnEncender" class="encender">Encender</button>
        <button id="btnApagar" class="apagar">Apagar</button>
    </div>
    <script src="cliente.js"></script>
</body>
</html>